.igdbIntegrationGameListContainer {
	display: flex;
	flex-wrap: wrap;
}

.igdbIntegrationGameListContainer .gameBox {
	display: flex;
	flex-direction: column;
	min-height: 18rem;
	width: 132px;
	margin: 0.25rem !important;
	border-radius: 0.25rem;
	background-color: var(--wcfInputBackground);
	border: 1px solid var(--wcfInputDisabledBorder);
	color: var(--wcfInputText);
}

.igdbIntegrationGameListContainer .gameBox .gameCover {
	height: 185px;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	background-repeat: no-repeat;
	background-position: center;
}

.igdbIntegrationGameListContainer .gameBox .gameCover .gameOverlay {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	overflow: hidden;
	opacity: 0;
	transition: 0.2s;
	color: #F5F5F5;
}

.igdbIntegrationGameListContainer .gameBox .gameCover:hover .gameOverlay {
	opacity: 1;
}

.igdbIntegrationGameListContainer .gameBox .gameCover .gameOverlay .gameOverlayButton {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.2s;
}

.igdbIntegrationGameListContainer .gameBox .gameCover .gameOverlay .gameOverlayButton:hover {
	background-color: rgba(245, 245, 245, 0.25);
}

.igdbIntegrationGameListContainer .gameBox .gameCover .gameOverlay .gameOverlayButton+.gameOverlayButton {
	border-top: 1px solid rgba(245, 245, 245, 0.5);
}

.igdbIntegrationGameListContainer .gameBox .gameInfo {
	display: flex;
	flex-direction: column;
	flex: 1;
	text-align: center;
	padding-top: 0.5rem;
}

.igdbIntegrationGameListContainer .gameBox .gameInfo>h3 {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.igdbIntegrationGameListContainer .gameBox .gameInfo .gameUserInfo {
	margin-top: auto;
}

.igdbIntegrationGameListContainer .gameBox .gameInfo .gameUserInfo .gamePlayerCount {
	padding: 0.25rem;
	padding-right: 0.5rem;
	text-align: end;
	transition: filter 0.2s;
	color: var(--wcfButtonText);
	background-color: var(--wcfButtonBackground);
}

.igdbIntegrationGameListContainer .gameBox .gameInfo .gameUserInfo .gamePlayerCount:hover {
	filter: brightness(0.5);
}

.igdbIntegrationGameListContainer .gameBox .gameInfo .gameUserInfo .gamePlayerCount.isOwned {
	background-color: var(--wcfButtonPrimaryBackground);
	color: var(--wcfButtonTextActive);
}

.igdbIntegrationGameListContainer .gameBox .gameInfo .gameUserInfo .gamePlayerCount>fa-icon {
	padding-left: 0.25rem;
	padding-top: 0.25rem;
	float: left;
	color: var(--wcfButtonText);
}

.igdbIntegrationGameListContainer .gameBox .gameInfo .gameUserInfo .gamePlayerCount.isOwned>fa-icon {
	color: var(--wcfButtonTextActive);
}

#tpl_wcf_igdbIntegrationGameList .boxesSidebarRight {
	.info::after {
		display: none;
	}

	.error::after {
		display: none;
	}
}

#tpl_wcf_igdbIntegrationGameList .boxesSidebarRight #playerToplistBox table {
	display: inline-block;
	overflow: auto;
	max-height: 20rem;
	width: 100%;
}

#tpl_wcf_igdbIntegrationGameList .boxesSidebarRight #playerToplistBox table td {
	padding-right: 1rem;
}

.igdbIntegrationPlayerListContainer table.playerList td {
	padding-right: 1rem;
	padding-bottom: 0.5rem;
}

.igdbIntegrationGameListContainer~.dialogOverlay {
	z-index: 350;
}

.igdbIntegrationFooter {
	display: flex;
	flex-direction: column;
}

.igdbIntegrationFooter .igdbIntegrationCopyright {
	align-self: center;
	margin-top: 0.5rem;
}